<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Testing Using Json">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testautomation.apitesting.tests.DataDrivenTestingUsingJsonFile"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Data Driven Testing Using Json -->
